{% load mptt_tags %}
<ul>
    {% recursetree nodes %}
        <li>
            {{ node.full_name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
